<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>mini_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>birthRegServlet</display-name>
    <servlet-name>birthRegServlet</servlet-name>
    <servlet-class>birthRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>birthRegServlet</servlet-name>
    <url-pattern>/birthRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupservlet</display-name>
    <servlet-name>signupservlet</servlet-name>
    <servlet-class>signupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupservlet</servlet-name>
    <url-pattern>/signupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
</web-app>